<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Users Page View</title>
</head>

<body>
    <div align="center">
        <h1>Auth Users table</h1>
        <nav>
            <h3><a href="/add"> Create new User? </a></h3>
        </nav>
        <br/>
        <table border="1">
            <thead>
            <tr>
                <th>User ID</th>
                <th>User Name</th>
                <th>Second Name</th>
                <th>Phone number</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}">User ID</td>
                    <td th:text="${user.firstName}">User Name</td>
                    <td th:text="${user.secondName}">Second Name</td>
                    <td th:text="${user.phoneNumber}">Phone number</td>
                    <td>
                        <a th:href="@{'/edit/' + ${user.id}}">Edit</a>
                        <a th:href="@{'/delete/' + ${user.id}}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>